{% extends "_base.html" %}
{% load static %}

{% block title %}
  Данные камеры
{% endblock %}

{% block content %}
<div class="container text-center">
  <h1 class="text-center my-4">Номер камеры: {{ num }}</h1>
  <button class="btn btn-primary btn-lg px-4 gap-3 mb-4">Подключиться к камере</button>
  <div class="row">
    <h4 class="text-warning text-center">Невалидные изображения</h4>
    {% for image_url in images %}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="{{ MEDIA_URL }}{{ image_url }}" class="card-img-top">
        </div>
      </div>
    {% empty %}
      <h4 class="text-center">Нет невалидных изображений</h4>
    {% endfor %}
    
    <h4 class="text-warning text-center mt-4">Распознанные изображения</h4>
    {% for valid_image_url in valid_images %}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="{{ MEDIA_URL }}{{ valid_image_url }}" class="card-img-top">
        </div>
      </div>
    {% empty %}
      <h4 class="text-center">Нет распознанных изображений</h4>
    {% endfor %}

    <h3 class="text-warning text-center mt-4">Отправленный контент</h3>
    {% for content_image_url in content %}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card">
          <img src="{{ MEDIA_URL }}{{ content_image_url }}" class="card-img-top">
        </div>
      </div>
    {% empty %}
      <h4 class="text-warning text-center">Информации о загруженных на ТОИ изображений нет</h4>
    {% endfor %}
  </div>
</div>
{% endblock %}