{% extends '_base.html' %}
{% load static %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Файл успешно загружен</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 text-warning">Для обработки нажмите на кнопку ниже</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary btn-lg px-4 gap-3" value="Начать обработку">
      </form>
    </div>
  </div>
</div>
{% endblock %}
